<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>四川金凌峰装饰工程有限公司后台系统登录</title>
        #include('/admin/common.vm')
	</head>

	<body class="easyui-layout">
		<!--body的north，显示logo -->
		<div region='north'
			style="height: 60px; background: #EBF3FD; background-image: url('/misc/images/header.jpg'); background-repeat: repeat-x; width: 1920; background-repeat: no-repeat; background-position: left;">
		</div>
		<!-- 结束 -->

		<!-- body的west，显示导航栏 -->
		<div region="west" split="true" title="操作菜单"
			style="width: 237px; padding-right: 0px; overflow: hidden">
			<div fit="true" class="easyui-accordion"
				style="float: left; padding: 1px; padding-right: 0px; border-right: none;">
                    #parse("/admin/menu/menu_role_${loginUser.roleId}.vm")
			</div>

		</div>
		<!-- 结束 -->

		<!-- body的center，显示主操作界面 -->
		<div region="center" id="main"
			style="overflow: hidden; padding: 0px; background-color: #EBF3FD; border: 0px">
			<div fit="true" title="主界面" id="background_panel">
                四川金凌峰装饰工程有限公司后台系统
			</div>
		</div>
		<!-- 结束 -->


	</body>
</html>
