.icon-sim-open {
	background: url('icons/sim/1_open.png') no-repeat;
}

.icon-sim-close {
	background: url('icons/sim/1_close.png') no-repeat;
}

.icon-sim-user {
	background: url('icons/sim/user.png') no-repeat;
}

.icon-sim-2 {
	background: url('icons/sim/2.png') no-repeat;
}

.icon-sim-3 {
	background: url('icons/sim/3.png') no-repeat;
}

.icon-sim-4 {
	background: url('icons/sim/4.png') no-repeat;
}

.icon-sim-5 {
	background: url('icons/sim/5.png') no-repeat;
}

.icon-sim-6 {
	background: url('icons/sim/6.png') no-repeat;
}

.icon-sim-7 {
	background: url('icons/sim/7.png') no-repeat;
}

.icon-sim-8 {
	background: url('icons/sim/8.png') no-repeat;
}

.icon-sim-9 {
	background: url('icons/sim/9.png') no-repeat;
}

.icon-sim-10 {
	background: url('icons/sim/10.png') no-repeat;
}

.icon-XTRD-apple_green {
	background: url('icons/sim/XTRD-apple_green.png') no-repeat;
}

.icon-XTRD-apple_red {
	background: url('icons/sim/XTRD-apple_red.png') no-repeat;
}

.icon-XTRD-arrow {
	background: url('icons/sim/XTRD-arrow.png') no-repeat;
}