DIV.h15-footer {
	BACKGROUND-IMAGE: url(/misc/images/m_head_blend.png); MARGIN: 0px auto; WIDTH: 932px; COLOR: #fff; BORDER-BOTTOM: #599cd4 1px solid; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 65px
}



DIV.h15-site-links {
	PADDING-BOTTOM: 1px; WIDTH: 799px; TEXT-ALIGN: right
}

DIV.h15-site-links {
	LEFT: 0px; POSITION: absolute; TOP: 20px
}




