@CHARSET "UTF-8";

td {
	font-size: 12px;
}

input,select,textarea {
	border: 1px solid #A9A9A9;
	font-size: 12px;
}

a {
	font-size: 12px;
	text-decoration: none;
}

button {
	margin: 5px 5px;
}

.custom-mask {
	position: absolute;
	left: 0;
	top: 0;
	background: #ccc;
	opacity: 0.3;
	filter: alpha(opacity = 30);
	display: none;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.custom-mask-msg {
	position: absolute;
	cursor1: wait;
	width: auto;
	height: 16px;
	padding: 12px 15px 12px 30px;
	background: #fff
		url('../jquery-easyui-core/themes/default/images/pagination_loading.gif')
		no-repeat scroll 5px 10px;
	border: 2px solid #6593CF;
	color: #222;
	display: none;
	z-index: 2000;
}